@attribute [Authorize(Roles = "Dentist")]
@page "/dentistpage"

<h3>Welcome to the Dentist Page</h3>

<p>
	View My Appointments 
</p>


<p>
	Update Appointments
</p>

<p>
	Delete/Cancel Appointments
</p>
@code {

}
