@page "/dentistapp"
@using System.Text.Json;

<h3>DentistApp</h3>

@foreach(var dentist in dentists)
{
	<p>@dentist.first_name @dentist.last_name</p>
	
}


@code {
	public class Dentists
	{
		public int id { get; set; }
		public string? first_name { get; set; }
		public string? last_name { get; set; }

	}

	string API_URL = "https://localhost:5070/";

	private IEnumerable<Dentists> dentists = Array.Empty<Dentists>();

	private async Task refreshList()
	{
		HttpClient httpClient = new HttpClient();
		HttpResponseMessage response = await httpClient.GetAsync(API_URL + "api/DentistApp/GetDentists"); 
		httpClient.Dispose();
		var responseStream = await response.Content.ReadAsStreamAsync();
		dentists = await JsonSerializer.DeserializeAsync<IEnumerable<Dentists>>(responseStream);
	}


	protected override async Task OnInitializedAsync()
	{
		await this.refreshList();
	}
}
