@page "/"

<PageTitle>Index</PageTitle>


<h2> 
	<NavLink href="/dentist">To Dentist Interface</NavLink>
</h2>

<h2>
	<NavLink href="/receptionist">To Receptionist Interface</NavLink>
</h2>

<h2>
	<NavLink href="/patient">To Patient Interface</NavLink>
</h2>