@page "/"

<PageTitle>Index</PageTitle>

<h2>
	Welcome to our Dentist
</h2>


<h2> 
	<NavLink href="/login">
		To Login
	</NavLink>
</h2>

<h2>
	<NavLink href="/register-patient">
		To Create an account with our practice
	</NavLink>
</h2>