@attribute [Authorize(Roles = "Manager")]
@page "/managerpage"

<h3>Manager Page</h3>

<p> Here you will be able to book, view and update appointments.</p>

<p>
	View Patients
</p>

<p>
	View Appointments
</p>

@code {

}

