@attribute [Authorize(Roles = "Patient")]
@page "/patientpage"

<h3>Welcome to the Patient Page</h3>

<p> Here you will be able to book, view and update appointments.</p>


<NavLink href='view-appointment/1'>
	View Your Appointments
</NavLink>

<br />
<br />



<NavLink href='create-appointment'>
	Book New Appointment
</NavLink>

<br />
<br />


<NavLink href='delete-appointment'>
	Delete Appointment
</NavLink>


@code {

}
