@attribute [Authorize(Roles = "Receptionist")]
@page "/receptionistpage"

<h3>Receptionist Page</h3>

<p> Here you will be able to book, view and update appointments.</p>

<p>
	View Patients
</p>

<p>
	View Appointments
</p>

<p>
	Update Appointment Date
</p>

<p>
	Cancel/Delete Appointment
</p>


@code {


}
