@page "/stafflogin"

<h2>Staff Logins Page</h2>


<h2>
	<NavLink href="/dentistlogin">
		Click here for Dentist Login
	</NavLink>
</h2>

<h2>
	<NavLink href="/receptionistlogin">
		Click here for Receptionist Login
	</NavLink>
</h2>

<h2>
	<NavLink href="/managerlogin">
		Click here for Manager Login
	</NavLink>
</h2>

@code {

}
