<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dentistapp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Display List of Dentists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="patients">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Display List of Patients
            </NavLink>
        </div>






        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dentist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dentist Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="patient">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Patient Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="practicemanager">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Practice Manager Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="receptionist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Receptionist Page
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="" @onclick="Logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="" @onclick="Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="blogposts">
                        <span class="oi oi-signpost" aria-hidden="true"></span> Manage Posts
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
